Hello {{ fname }} {{lname}},Welcome to Pravesha'19
Thankyou for registering with us.

Your registration id is {{ regid }}

Please read the following instructions :
    
    >> Registration fee of ₹200 is applicable for each participant which can be paid onspot at the registration desk.
    >> All participants should bring their college ID.
    >> Every participant will be provided with participation certificate.
    >> Please read all the instruction for each event before joining (Available in website).
    >> Any form of practice against the event rules will cause immediate disqualification of the team/candidate without any prior notice.
    >> Lunch will be provided by us.

For any further queries plese visit tinyurl.com/pravesha19

Regards from,
Team Pravesha'19